html {
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}
:root{
    --color-bg-logo:#5300C8;
    --color-title:#fff;
    --color-bg-card:#5300C8;
    --color-p-card:#fff;
    --font-logo:2rem;
    --font-form-title: 1.4rem;
}
